<div class="container mt-3">
    <form [formGroup]="anuncioForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="mb-3">
            <label for="titulo">Título</label>
            <input type="text" formControlName="titulo" class="form-control" id="titulo" placeholder="Título del anuncio">
        </div>
        <div class="mb-3">
            <label for="descripcion">Descripción</label>
            <textarea formControlName="descripcion" class="form-control" id="descripcion" rows="3" placeholder="Descripción del anuncio"></textarea>
        </div>
        <div class="mb-3">
            <h4>Características</h4>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="raza">Raza</label>
                    <input type="text" formControlName="raza" class="form-control" id="raza" placeholder="Raza">
                </div>
            
                <div class="col-md-6 mb-2">
                    <label for="color">Color</label>
                    <input type="text" formControlName="color" class="form-control" id="color" placeholder="Color">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="tamano">Tamaño</label>
                    <input type="text" formControlName="tamano" class="form-control" id="tamano" placeholder="Tamaño">
                </div>
            
                <div class="col-md-6 mb-2">
                    <label for="fecha">Visto por última vez</label>
                    <input type="date" formControlName="fecha" class="form-control" id="fecha">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" formControlName="collar" role="switch" id="collar">
                        <label class="form-check-label" for="collar">Lleva collar</label>
                      </div>
                      
                </div>
            
                <div class="col-md-6 mb-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" formControlName="vacunado" role="switch" id="vacunado">
                        <label class="form-check-label" for="vacunado">Está vacunado</label>
                      </div>
                      
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="map">Última ubicación conocida</label>
            <div id="map" style="height: 400px;"></div>
        </div>
        <div class="mb-3">
            <label for="imagen">Imagen</label>
            <!--<input type="file" id="imagen" (change)="onFileSelected($event)">-->
            <input #fileInput type="file" (change)="cropper.selectInputEvent($event)" accept="image/*" hidden>
            <button ly-button color="primary" (click)="fileInput.click()">
                <span>Select Image</span>
            </button>
            <div *ngIf="ready">
                <button (click)="cropper.rotate(-90)" ly-button appearance="icon">Rotate</button>
            </div>
            <ly-img-cropper
                [config]="myConfig"
                (ready)="ready = true"
                (cleaned)="ready = false"
                (cropped)="onCropped($event)"
                (loaded)="onLoaded($event)"
                (error)="onError($event)"
            >
                <span>Drag and drop image</span>
            </ly-img-cropper>
            <button ly-button *ngIf="ready" color="accent" (click)="cropper.crop()">Crop</button>
            <div *ngIf="croppedImage">
                <img [src]="croppedImage">
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="anuncioForm.invalid">Publicar</button>
    </form>
</div>

