<div class="card mt-2 mr-2 rounded">
    <img [src]="'http://localhost:8080'+ anuncio.imagen" class="card-img-top" alt="...">
    <div class="card-header">
      {{anuncio.titulo}}
    </div>
    <div class="card-body">
      <div class="alert alert-info" role="alert">Visto por última vez el {{anuncio.fecha | date: 'dd/MM/yyyy'}}</div>
      <!--<p class="card-text">{{anuncio.descripcion}}</p>-->
      <div class="card-text d-flex flex-wrap justify-content-center gap-2">
          <span class="alert alert-warning rounded-pill tag">{{anuncio.raza}}</span>
          <span class="alert alert-warning rounded-pill tag">{{anuncio.color}}</span>
          <span class="alert alert-warning rounded-pill tag">{{anuncio.tamano}}</span>
      </div>
      <a [routerLink]="['/detalles', anuncio.id]" class="btn btn-primary w-100">Más info</a>
    </div>
  </div>
