.card-container {
  flex: 0 1 100%;
  max-width: 100%;
  margin: 0.5rem;
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem); /* Cuatro tarjetas por fila en dispositivos pequeños */
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 992px) {
  .card-container {
    flex: 0 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
}
